<div class="card" draggable="true" id="<%=card._id%>">
  <div class="card-title">
    <details>
      <summary>
        <%=card.title.split('#')[0].slice(0,20)+'...'%>
      </summary>
      <zero-md>
        <template data-merge="append">
          <style>
            :not(form) {
              font-size: 0.8rem;
            }
            .markdown-body h2,h3,h4 {
              font-size: 1rem!important;
              margin: 2px 0!important;
            }
            image {
              max-width: 100%;
              aspect-ratio: initial;
              resize: both;
            }
            pre,code {
              display: none;
              padding: 0 !important;
              margin: 0 !important;
            }
          </style>
        </template>
        <%-'<script type="text/markdown">'%>
          <%=card.title%>
            <%-'</script>'%>
      </zero-md>
    </details>
  </div>
  <div class="due-date">
    <%=card.dueDateShort%>
  </div>
  <form action="/boards/<%=board._id%>/lists/<%=listId%>/cards/<%=card._id%>/edit" class="edit-card-button"
    method="GET">
    <button type="submit">
      <image src="/images/edit.png" class="icon"></image>
    </button>
  </form>
  <form action="/boards/<%=board._id%>/lists/<%=listId%>/cards/<%=card._id%>/?_method=DELETE" class="delete-card-button" method="POST">
    <button type="submit">
      <image src="/images/trash.png" class="icon"></image>
    </button>
  </form>
  <div class="labels-container">
    <% if (card.labels) { card.labels.map(label=>{ %>
      <div class="labels">
        <%=label%>
      </div>
      <% })} %>
  </div>
  <div class="users-container">
    <% if (card.users) { card.users.map(user=>{ %>
      <div class="users">
        <%=user.name%>
      </div>
      <% })} %>
  </div>

</div>