<form class="form" action="/boards/<%=boardId%>/lists/<%=listId%>/cards/<%=card._id%>/?_method=PUT" method="POST">
    <details open>
        <summary class="form-title">Card Details</summary>
        <label>Card Title (Markdown Editor)</label>
        <textarea name="title" id="form-title" rows="6" cols="60" required
            title="Task description is required"><%=card.title%></textarea>
        <label for="">Card Due Date</label>
        <!-- value='YYYY-MM-DD' -->
        <input type="date" name="dueDate" id="form-dueDate" value="<%=card.dueDateHTMLTag%>" title="Date must be in the
future">
        <button type="submit">Ok</button>
    </details>
</form>
<details class="form" open>
    <summary class="form-title">Labels</summary>
    <div id="label-table">
        <% if (card.labels.length===0) { %>
            <%='NO LABELS'%>
                <% } else { %>
                    <% card.labels.forEach((label,index)=>{%>
                        <div class="labels">
                            <%=label%>
                        </div>
                        <form
                            action="/boards/<%=boardId%>/lists/<%=listId%>/cards/<%=cardId%>/labels/<%=index%>/?_method=DELETE"
                            class="delete-label-button" method="POST">
                            <button type="submit">
                                <image src="/images/trash.png" class="icon"></image>
                            </button>
                        </form>
                        <% })} %>
    </div>
    <form class="form-no-padding" action="/boards/<%=boardId%>/lists/<%=listId%>/cards/<%=cardId%>/labels" method="POST"
        class="add-label-container">
        <input type="text" name="labelTitle" id="label-title">
        <button type="submit" id="add-label-button">
            <image src="/images/plus.png" class="icon-medium"></image>
        </button>
    </form>
</details>

<details class="form" open>
        <summary class="form-title">File Attachments (S3 Bucket)</summary>
        <div id="file-container">
            <% if (card.files.length===0) { %>
                <%='NO FILES'%>
                    <% } else { %>
                        <% card.files.forEach((file,index)=>{%>
                            <a href="/upload/images/<%=file%>" class="labels">
                                <%="(..."+file.slice(-20)+")"%>
                            </a>
                            <form
                                action="/boards/<%=boardId%>/lists/<%=listId%>/cards/<%=cardId%>/files/<%=index%>/?_method=DELETE"
                                class="delete-label-button" method="POST">
                                <button type="submit">
                                    <image src="/images/trash.png" class="icon"></image>
                                </button>
                            </form>
                            <% })} %>
        </div>
        <form class="form-no-padding2" action="/upload/single/b/<%=boardId%>/l/<%=listId%>/c/<%=card._id%>" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" id="file">
        <button type="submit">Upload</button>
        </form>
</detail>