<div class="form">
<form class="form" action="/boards/<%=boardId%>/lists/<%=listId%>/cards/<%=card._id%>/?_method=PUT" method="POST">
<div class="form-title">Edit Card</div>
<label for="">Card Title (Markdown Editor)</label>
<textarea name="title" id="form-title" rows="12" cols="70" required
title="Task description is required"><%=card.title%></textarea>
<label for="">Card Due Date</label>
<!-- value='YYYY-MM-DD' -->
<input type="date" name="dueDate" id="form-dueDate" value="<%=(card.dueDate)?card.dueDate.toISOString().split('T')[0]:new Date().toISOString().split('T')[0]%>" title="Date must be in the
future">
<button type="submit">Ok</button>
</form>
<table id="label-table">
<thead>
<tr>
<th>Labels</th>
<th></th>
</tr>
</thead>
<tbody>
<% if (card.labels.length===0) { %>
<tr>
<td colspan=2>
    <%='NO LABELS'%>
</td>
</tr>
<% } else { %>
<% card.labels.forEach(label=>{%>
    <tr>
        <td class="labels">
            <%=label.title%>
        </td>
        <td>
            <form
                action="/boards/<%=boardId%>/lists/<%=listId%>/cards/<%=cardId%>/labels/<%=label._id%>/?_method=DELETE"
                class="delete-card-button" method="POST">
                <button type="submit">
                    <image src="/images/trash.png" class="icon"></image>
                </button>
            </form>
        </td>
    </tr>
    <% })} %>
</tbody>
</table>
<form class="form" action="/boards/<%=boardId%>/lists/<%=listId%>/cards/<%=cardId%>/labels" method="POST"
    class="add-label-button">
            <label for="">New Label</label>
            <input type="text" name="labelTitle" id="labelTitle">
            <button type="submit">
                <image src="/images/plus.png" class="icon-large"></image>
            </button>
</form>
</div>