<%- include('../partials/header') %>
  <form id="new-form" action="/flights" method="POST">
    <label>Airline:</label>
    <select name="airline">
      <% airlineEnum=['Singapore AirLines','Scoot','Tiger Airways','Silkair','Cathay Pacific','Qantas']; %>
        <% airlineEnum.forEach(a=>{ %>
          <option value="<%=a%>" <%= (newFlight.airline===a) ? 'selected':''%>>
            <%=a%>
          </option>
          <% }) %>
    </select>
    <label>Airport:</label>
    <select name="airport">
      <% airportEnum=['SIN','PVG','ICN','HKG','NRT','PEK','HND','BKK','DEL','CAN','BOM','MNL','CGK','KUL','KIX']; %>
        <% airportEnum.forEach(ap=>{ %>
          <option value="<%=ap%>" <%=(newFlight.airport===ap) ? 'selected':''%>>
            <%=ap%>
          </option>
          <% }) %>
    </select>
    <label>Flight No.:</label>
    <input type="number" min=10 max=9999 name="flightNo" value="<%= newFlight.flightNo %>">
    <label>Departs:</label>
            <input type="datetime-local" name="departs" value="<%=departsDate%>">
            <input type="submit" value="Add Flight">
  </form>

  <%- include('../partials/footer') %>